.header{
    position:fixed;
    width: 100%;
    z-index: 1;
    background-color: rgb(219, 224, 230);
}
.name{
    font-family: 'Courgette', cursive;
}
.padding{
    padding-top: 7.5em;
}
.sectiontop{
    padding-top: 5em;
}
.footer{
    padding: 1em;
    background-color: rgb(219, 224, 230);
    width: 100%;
}
